@font-face {
	font-family: "ArcadeClassic";
	src: url("font.ttf");
}
body {
	background: black;
}
#pongcanvas {
	width: 1400px;
	height: 800px;
	border: 3px solid white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -400px 0 0 -700px;
}
